<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApp12.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WindowsApp12.My.MySettings>
      <setting name="Server" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="Pass" serializeAs="String">
        <value />
      </setting>
      <setting name="Programs" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>001 Arc - Architecture</string>
            <string>002 CS - Computer Science</string>
            <string>002 IT - Information Technolgy</string>
            <string>003 ChE - Chemical Engineering</string>
            <string>003 CE - Civil Engineering</string>
            <string>003 CpE - Computer Engineering</string>
            <string>003 EE - Electrical Engineering</string>
            <string>003 ECE - Electronics Engineering</string>
            <string>003 ME - Mechanical Engineering</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Colleges" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>001 CAFAE - Architecture  Education</string>
            <string>002 CCE - Computing Education</string>
            <string>003 CEE - Engineering Education</string>
          </ArrayOfString>
        </value>
      </setting>
    </WindowsApp12.My.MySettings>
  </userSettings>
</configuration>